* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    background-color: #ececec
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    color: #142d4c;
    background: #ececec;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    padding: 20px;
    border-radius: 10px;
    background: #9fd3c7; 
    box-shadow: 0 4px 8px 0 #142d4c;
    transition: 0.3s;
    margin-inline: 15px;
    overflow: hidden;
}

.subtitle {
    font-size: 35px;
    color:#142d4c
}

.button{
    color: #ececec;
    border-radius: 8px;
    background-color: #142d4c;
    padding: 8px;
    margin: 5px;
    font-size: 15px;
}
  
.button:hover {
    background-color: #385170;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.container-cards {
    display: flex;
    justify-content: center;
}

.nav {
    background-color: #142d4c;
    color: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 1.1rem;
    height: 60px;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: 100%;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem 0.25rem 1rem;
}

.nav li:hover {
    background-color: #385170;
}

.footer {
    background-color: #ececec;
    color: #142d4c;
    text-align: center;
    padding: 0.5rem;
}

label, button, input {
    font-size: 20px;
}

table {
    text-align: center;
}

td {
    font-size: 20px;
    padding: 0 10px
}

.tableresultados, .tableresultados th, .tableresultados td {
    border: 1px solid #142d4c;
    border-collapse: collapse;
}